

  <div class="comments">
    
      <div class="comment">
        <p>{{comment.comment_text}}</p>
        <p>Posted by {{User.username}} on {{format_date this.date_created}}</p>

      </div>
    
  </div>

  <p>No comments yet.</p>


