<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>

{{#if posts.length}}
<section >
  <h2>Your Posts</h2>
  {{#each posts}}

    {{> post-details this}} 
        
        <button><a href="/post/{{ id }}" class="btn modify-post-btn btn-primary">Modify Post</a></button>
        
        
  {{/each}}

 
</section>
{{else}}
<section>
  <h2>You haven't created any posts yet</h2>
</section>
{{/if}}

<div class="text-center">
<button type="submit" class="btn new-post-btn"><a class="link" href="/dashboard/newpost">+ New Post</a></button>
</div>

<script src="./js/newComment.js"></script>
<script src="/js/post.js"></script>